.oval-label {
  display: inline-block;
  background-color: white;
  color: #333;
  border-radius: 8px;
  padding: 2px 4px;
  border: 1px solid #3c3c3c;
}

.label-text {
  display: block;
  text-align: center;
  font-size: 0.6vw;
  font-weight: bold;
}

.name-hover:hover {
  color: #aeac8d; 
  transition: background-color 0.3s; 
  cursor: pointer;
}

@media screen and (max-width: 700px) {
    h2 {
        font-size: 4.5vw;
    }

    h4 {
      font-size: 4vw;
    }

    th{
      font-size: 2.2vw;
    }

    td{
      font-size: 2.2vw;
    }

}
